name: Verificacao de Qualidade
on: [push, pull_request]

jobs:
  analise-de-codigo:
    runs-on: ubuntu-latest
    steps:
      - name: Baixar o código do repositório
        uses: actions/checkout@v3

      - name: Testar sintaxe com PSScriptAnalyzer
        shell: pwsh
        run: |
          Install-Module PSScriptAnalyzer -Force
          # Correção: Usando crase para escapar o cifrão
          $resultado = Invoke-ScriptAnalyzer -Path . -Recurse
          
          $resultado | Format-Table -AutoSize
          
          if ($resultado.Severity -contains 'Error') {
              Write-Error "Erros críticos encontrados no código!"
          }
